{% extends "offline_base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
  <div class="card shadow-sm rounded-3">
    <div class="card-header">
      <h4>{{ action }} Story</h4>
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">{{ action }}</button>
        <a href="{% url 'story_list' %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
